.profile-img {
    margin: 20px;
    height: 150px;
    border-radius: 50%;
}
.front-page {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    padding-top: 150px;
    padding-bottom: 30px;
}
#front-page {
    background-color: lightgray;
}
#intro {
    background-color: #f9f7f7;
}
#background {
    background-color: #e9f2f2;
}
.purple {
    color: blueviolet;
}
.dark-gray {
    color: #5d6175;
}
.orange {
    color: #ffbd59;
}
.green {
    color: #00bf63;
}
.red {
    color: #ff5757;
}
.blueprints {
    color: #3f72af;
}

